<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BibliotecaContext" connectionString="metadata=res://*/EntityFramework.BibliotecaContext.csdl|res://*/EntityFramework.BibliotecaContext.ssdl|res://*/EntityFramework.BibliotecaContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Biblioteca;persist security info=True;user id=sa;password=DBU;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>